body {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Contenedor Principal */
.game-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.game-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

/* Títulos */
h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Botones */
.btn-juego {
    background-color: #ff0099;
    border: none;
    color: #fff;
}

.btn-juego:hover {
    background-color: #ff6a00;
    color: #000;
}

/* Juego de Snake */
canvas {
    background-color: #000;
    border: 2px solid #ff0099;
    display: block;
    margin: 0 auto;
}